body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(5deg, #0eb4f6, #15f705, #a002fb);
    color: #fff;
}
.form-control {
    display: inline !important;
    width: 76% !important;
}
.btn-primary {
    width: 100%;
}
.hidden {
    display: none;
}